# Ignore Python compiled files
__pycache__/
*.py[cod]
*.whl

# Ignore build and distribution files
datasets/
build/
dist/
*.egg-info/
generated/
embeddings/
results/
model/
tests/
exp/

# Ignore temporary files
*.swp
*.bak
*~

# Ignore IDE and editor specific files
.idea/
.vscode/
